body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}

.shadow-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.box{
    width: 250px;
    padding: 20px;
    border-radius: 8px;
    background: white;
}

.shadow1{
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.shadow2{
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4);
}
.shadow3{
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.4);
}
.shadow4{
    box-shadow: 0 0 15px rgba(0, 255, 0, 0.8);
}
.shadow5{
    box-shadow: 3px 3px 10px rgba(0,0,0,0.3),
    -3px -3px 10px rgba(255,255,255,0.6);
}
.box2{
    height: 200px;
    width: 200px;
    border: 2px solid black;
    margin-top: 50px;
    overflow: scroll;
}