body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    background: #f5f5f5;
}

.container{
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 40px;
    border: 2px solid black;
}

.grid-box{
    background: #4caf50;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 6px;
    font-weight: bold;
}
.grid-demo{
    display: grid;
    background: #eef;
    padding: 20px;
    border-radius: 10px;
    border: 2px dashed #888;
    margin-top: 15px;
}
.columns-demo{
    grid-template-columns: 200px 100px 100px;
    gap: 10px;
}
.advanced-cols{
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.rows-demo{
    grid-template-rows: 80px 80px 80px;
    gap: 10px;
}
.auto-rows-demo{
    grid-auto-rows: 60px;
    gap: 10px;
}
.auto-flow-col{
    grid-auto-flow: column;
    gap: 10px;
}
.align-content-demo{
    grid-template-columns: repeat(3, 80px);
    height: 250px;
    align-content: space-between;
    gap: 10px;
}


