body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f3f4f6;
    padding: 20px;
}

h1{
    text-align: center;
    margin-bottom: 30px;
}

.container{
    padding: 20px;
    border-radius: 12px;
    background: white;
    border: 2px solid #ddd;
}

.box{
    height: 80px;
    background: #4f46e5;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    border-radius: 10px;
}

@media(max-width: 600px){
    .box{
        background: #f43f5e;
        font-size: 18px;
    }
}


@media(min-width: 900px){
    .box{
        background: #16a34a;
        font-size: 26px;
    }
}

@media(prefers-color-scheme: dark){
    body{
        background: #0f172a;
        color: white;
    }

    .container {
        background: #1e293b;
        border-color: #475569;
    }

    .box{
        background: #9333ea;
    }
}